{% extends "productOwner/productOwnerbase.html" %}
{% block title %}All Cargos{% endblock %}


{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <h3>Your Product list</h3><hr>
            <a class="nav-link btn btn-primary" href="{% url 'ecomapp:poproductcreate' %}">Add New Product</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product Title</th>
                        <th>Image</th>
                        <th>productowner</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in allproducts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.title}}</td>
                        <td><img src="{{p.image.url}}" style="height: 60px;" alt=""></td>
                        <td><a>{{p.productowner}}</a></td>
                        <td>{{p.selling_price}}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}