{% extends 'base1.html' %}

{% block title %}Checkout {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Items in the cart</h3>
            <a href="{% url 'ecomapp:mycart' %}">Update Cart</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>Rs. {{cart.total}}</th>
                    </tr>
                </tbody>
               
            </table>
        </div>
        <div class="col-md-6">
            <h3>Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}

  {% comment %} <div class="form-group">
          <label for="exampleInputEmail1">Names</label>
          <input type="text" id="name" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">Address</label>
          <input type="text" id="address" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">Mobile</label>
          <input type="text" id="mobile" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="text" id="email" class="form-control">
</div>  {% endcomment %}

        <button class="btn btn-info">Place order</button>
            </form>
        </div>
    </div>
</div>

{% comment %} <script>

const form = document.getElementById('form');
form.addEventListener("submit", payNow);

function payNow(e) {
 e.preventDefault();
 
    FlutterwaveCheckout({
      
      public_key: "FLWPUBK_TEST-e61590805f79c3be682dec246f8c1510-X",
      tx_ref: "AK_"+Math.floor((Math.random() * 1000000000) + 1),
      amount: document.getElementById(50000).value,
      currency: "RWF",
	  
      //payment_options: "card,mobilemoney,ussd",
	  
      customer: {
        email: document.getElementById("email").value,
        phonenumber: document.getElementById("mobile").value,
        name: document.getElementById("name").value,
      },
	  
      callback: (data)=> { 
		  const reference = data.tx_ref;
      alert('Payment complete! Reference: ' + reference);
      },
	  
      customizations: {
        title: "IHAME App",
        description: "FlutterWave Integration in Javascript.",
		    logo: "C:\Users\IHAME\Desktop\WebDesign\IhameWebsite\design\20211128_231345_0000.png",
      },
    });
</script> {% endcomment %}

{% endblock %}