{% extends 'base1.html' %}

{% block title %}Checkout {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Items in the cart</h3>
            <a href="{% url 'ecomapp:mycart' %}">Update Cart</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>Rs. {{cart.total}}</th>
                    </tr>
                </tbody>
               
            </table>
        </div>
        <div class="col-md-6">
            <h3>Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
               {{form.as_p}} 

  {% comment %} <div class="form-group">
          <label for="exampleInputEmail1">Names</label>
          <input type="text" id="name" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">Address</label>
          <input type="text" id="address" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">Mobile</label>
          <input type="text" id="mobile" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="text" id="email" class="form-control">
</div> 
 <div class="form-group">
          <label for="exampleInputEmail1">Amount</label>
          <input type="number" id="amount" class="form-control">
</div> type="submit" {% endcomment %}

        <button  class="btn btn-info">Place order</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}