{% extends 'base1.html' %}

{% block title %}Customer Registration{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3>Registration Form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
<div class="form-group">
          <label for="exampleInputEmail1">username</label>
          <input type="text" name="username" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">password</label>
          <input type="text" name="password" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">full_name</label>
          <input type="text" name="full_name" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">county</label>
          <input type="text" name="county" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">town</label>
          <input type="text" name="town" class="form-control">
</div>

 <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="text" name="email" class="form-control">
</div>

     <div class="form-group">
          <label for="exampleInputEmail1">address</label>
          <input type="text" name="address" class="form-control">
</div>

                <button type="submit" style="background-color: #007bff;" class="btn btn-primary">Register</button>
            </form>
            <p> Already have an account? <a href="{% url 'ecomapp:customerlogin' %}">Login here</a></p>
        </div>
    </div>
</div>


{% endblock %}